<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm">
    
    
    <br>
    <br>
    <br>

    <ion-item lines="full">
      <ion-label position="floating">Nom Complet</ion-label>
      <ion-input type="text" #username [required]="'true'"  [name]="'username'"  [(ngModel)]="updateUserForm.username"></ion-input>
    </ion-item>  
    
    <br>
    <br>
    <br>
    <ion-row>
      <ion-col >
          <ion-button  type="submit"  color="primary" (click)="updateUserInfo(username)" expand="block">Soumettre</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
