.mapElement{

    height: 100%;
    width: 100%;
}
.spin{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
 ion-spinner {
    width: 28px;
    height: 28px;
    stroke: #444;
    fill: #222;
 }

 .bgcolor {
    background: #cdcfd6;
  }
  
  .nocolor {
    border: 2px solid #aeb7ca;
  }

  .selectDiv{
    margin: 1rem;
    position: relative;
  }